@page "/"
@namespace JikyungHomePage_JKPDM.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title>JK-PLM JIKYUNG SOLUTEC CO LTD.</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/FAVICON.ico" type="image/x-icon">
    <link rel="icon" href="img/FAVICON.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/stellarnav.min.css">
    <link rel="stylesheet" href="css/pignose.calendar.min.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/layout.css">

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/pignose.calendar.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/stellarnav.min.js"></script>
    <script src="js/jquery.scrollUp.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
   
    <style type="text/css" >


        .h4-testimonial-carousel .single-testimonial {
            padding: 0px;
            max-width: 550px;
        }

            .h4-testimonial-carousel .single-testimonial .autor .info .name {
                margin-bottom: 20px;
            }

        .testimonial-area .testimonial-carousel .single-testimonial .autor .info .name {
            line-height: 48px;
        }

        .h4-testimonial-carousel .single-testimonial .autor {
            margin: 20px 0px 20px;
        }

        .preview_div {
            line-height: 240px;
            width: 430px;
            height: 240px;
            text-align: center;
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url(http://cfile21.uf.tistory.com/image/99AEF8505BE6BF582D6347);
        }

            .preview_div > img {
                width: 80px;
                vertical-align: middle;
            }

        .single-pricing {
            padding: 0px;
            height: 500px;
        }

        .pricing-area {
            padding: 100px 0 0;
        }

        .home5-pricing-area {
            padding: 55px 0 55px;
            background-image: linear-gradient(90deg, #2f5477 0%, #2f5477 100%);
        }

        .h4-testimonial-carousel .owl-nav div:hover {
            background-image: linear-gradient(90deg, #2f5477 0%, #2f5477 100%);
        }

        .h4-testimonial-carousel .owl-nav div {
            font-size: 38px;
            border: none;
            top: -131px;
        }

        .owl-carousel .owl-item {
            float: right;
        }

        .owl-carousel.owl-drag .owl-item active {
            width: 433px;
        }

        .owl-carousel .owl-stage .owl-item {
            margin-right: 0px;
        }

        .videoWrapper {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        @@media (min-aspect-ratio: 16/9) {
            .videoWrapper {
                height: 300%;
                top: -100%;
            }
        }

        @@media (max-aspect-ratio: 16/9) {
            .videoWrapper {
                width: 300%;
                left: -100%;
            }
        }

        .home4-intouch-area {
            padding: 250px 0 20px;
        }

        .page-blog-area .blog-details .comment-area .comment-box .comment-form {
            background: #2c4e71;
        }

        .page-blog-area .blog-details .comment-area .comment-box .reply-title {
            margin: 42px 0 62px;
        }
    </style>

</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    @*<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>*@

    <script src="_framework/blazor.server.js"></script>
    <script src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl1aVfNF/www-widgetapi.js" async></script>
</body>
</html>
