@page "/"

<style>
    .home2-hero-area .home2-hero-container .home2-hero-content .text {
        color: #f1f1f1;
        font-size: 19px;
        font-weight: bolder
    }

</style>
<section class="home2-hero-area">
    <div class="home2-hero-banner wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img class="item-bounce" src="../img/company-logo/homemain.png" alt="" style="width:1920px; height:800px;"></div>
    <h1 class="home2-bg-text">JK</h1>
    <div class="home2-hero-container">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-12">
                <div class="home2-hero-content">
                    <h2 class="title">JIKYUNG SOLUTEC</h2>
                    <p class="text">스마트공장 지원사업을 통해 PLM으로 문서관리 서비스를 제공하여 고객사와의 발전을 함께하겠습니다. </p>
                    <ul class="links">
                        <li>
                            <NavLink class="home2-button-2 link btn-hvr-anim-top" href="/SmartFactory" Match="NavLinkMatch.All">
                                Get Started SmartFactory
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-area" id="_pricing">
    <div class="pricing-area-for-position">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="section-title">
                        <h2 class="title">고객 맞춤형 PLM으로 안전하게 도면과 문서를 보관해보세요.</h2>
                    </div>
                </div>
            </div>
            <div class="pricing-tab-all-content">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1000ms">
                                <div class="single-pricing color-1">
                                    <div class="single-h5-feature">
                                        <div class="icon-box">
                                            <span class="icon"><img src="img/sass/feature-icon-1.png" alt=""></span>
                                            <span class="bg"><img src="img/sass/feature-icon-bg.png" alt=""></span>
                                        </div>
                                        <div class="content" style=" margin-top: 70px;">
                                            <h2 class="title">랜섬웨어 완벽보호</h2>
                                            <p class="text">
                                                신종 랜섬웨어까지 완벽하게 차단하여 저장된 파일들을 안전하게 보호 합니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="100ms" data-wow-duration="1000ms">
                                <div class="single-pricing color-2 active">
                                    <div class="single-h5-feature">
                                        <div class="icon-box">
                                            <span class="icon"><img src="img/sass/feature-icon-2.png" alt=""></span><span class="bg"><img src="img/sass/feature-icon-bg.png" alt=""></span>
                                        </div>
                                        <div class="content">
                                            <h2 class="title">CAD INTEGRATION & OFFICE ADDIN</h2>
                                            <p class="text">
                                                다양한 CAD INTEGRATION과 ADDIN 기능으로 PLM에 접속하지 않아도 파일 작업이 가능합니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
                                <div class="single-pricing  color-3">
                                    <div class="single-h5-feature">
                                        <div class="icon-box">
                                            <span class="icon"><img src="img/sass/feature-icon-3.png" alt=""></span><span class="bg"><img src="img/sass/feature-icon-bg.png" alt=""></span>
                                        </div>
                                        <div class="content">
                                            <h2 class="title">WEB 2D/3D VIEWER</h2>
                                            <p class="text">
                                                한글, 엑셀, 워드, 파워포인트, 2D CAD, 3D CAD의 파일과 도면을 별도의 VIEWER가 설치되지 않아도 WEB VIEWER로 확인이 가능합니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1000ms">
                                <div class="single-pricing color-1">
                                    <div class="type">
                                        <h6 class="type-text">Basic</h6>
                                    </div>
                                    <h2 class="price"><span class="icon">$</span>544.68</h2>
                                    <h4 class="old-price">$850.68</h4>
                                    <ul class="info">
                                        <li>HTML/CSS, JavaScript Animation, WordPress, Responsive Website.</li>
                                        <li>Character Design, Icon Set, Illustration Guide, Illustration Set.</li>
                                        <li>Landing Pages, User Flow, Wireframing, Prototyping, Mobile App Design, Web App.</li>
                                    </ul>
                                    <a href="#" class="purchase btn-style-outline-1">Purchase Now</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="100ms" data-wow-duration="1000ms">
                                <div class="single-pricing color-2 active">
                                    <div class="type">
                                        <h6 class="type-text">advanced</h6>
                                    </div>
                                    <h2 class="price"><span class="icon">$</span>914.52</h2>
                                    <h4 class="old-price">$1198.68</h4>
                                    <ul class="info">
                                        <li>HTML/CSS, JavaScript Animation, WordPress, Responsive Website.</li>
                                        <li>Character Design, Icon Set, Illustration Guide, Illustration Set.</li>
                                        <li>Landing Pages, User Flow, Wireframing, Prototyping, Mobile App Design, Web App.</li>
                                    </ul>
                                    <a href="#" class="purchase btn-style-outline-1">Purchase Now</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
                                <div class="single-pricing color-3">
                                    <div class="type">
                                        <h6 class="type-text">Team</h6>
                                    </div>
                                    <h2 class="price"><span class="icon">$</span>1309.8</h2>
                                    <h4 class="old-price">$2398.68</h4>
                                    <ul class="info">
                                        <li>HTML/CSS, JavaScript Animation, WordPress, Responsive Website.</li>
                                        <li>Character Design, Icon Set, Illustration Guide, Illustration Set.</li>
                                        <li>Landing Pages, User Flow, Wireframing, Prototyping, Mobile App Design, Web App.</li>
                                    </ul>
                                    <a href="#" class="purchase btn-style-outline-1">Purchase Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-area" id="_testimonial">
    <div class="testimonial-right-banner wow fadeInRight" data-wow-duration="1.0s" data-wow-delay="0.5s"><img src="img/home1/testimonial-right-banner.png" alt=""></div>
    <div class="testimoinal-left-banner wow fadeInLeft" data-wow-duration="1.0s" data-wow-delay="0.5s"><img src="img/home1/testimonial-left-banner.png" alt=""></div>
    <div class="testimonial-bottom-line"><img src="img/home1/testimonial-line-bg.png" alt=""></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="h4-testimonial-carousel owl-carousel">
                    <div class="single-testimonial">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/ACLrYLP3NYo" frameborder="0" allow="accelerometer; ; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="autor">
                            <div class="info">
                                <h4 class="name">수주/제품정보관리</h4>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/ACLrYLP3NYo" frameborder="0" allow="accelerometer; ; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="autor">
                            <div class="info">
                                <h4 class="name">
                                    3D 파일관리
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/ACLrYLP3NYo" frameborder="0" allow="accelerometer; ; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="autor">
                            <div class="info">
                                <h4 class="name">
                                    프로젝트관리
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial">
                        <iframe width="550" height="300" src="https://www.youtube.com/embed/ACLrYLP3NYo" frameborder="0" allow="accelerometer; ; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="autor">
                            <div class="info">
                                <h4 class="name">기타</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home5-pricing-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="home5-pricing-trust-by" style="margin-top: -1px;">
                    <p class="text">주요 고객사</p>
                </div>
            </div>
        </div>
        <div class="home5-all-brand home5-brand-carousel owl-carousel">
            <div class="box"><img src="img/sass/brand-1.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-2.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-3.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-4.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-5.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-6.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-1.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-2.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-3.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-4.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-5.png" alt=""></div>
            <div class="box"><img src="img/sass/brand-6.png" alt=""></div>
        </div>
    </div>
</section>

<section class="home5-choose-area" style="background-image:url('../img/blog/quote-post-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-12">
                <div class="home5-choose-content">
                    <div class="section-title">
                        <p class="text">스마트공정에 관한 궁금한 사항이나 시스템에 대한 문의가 있으시면 언제든지 연락주세요.</p>
                    </div>
                    <NavLink class="link btn-hvr-anim-top btn-style-1" href="/Contact" Match="NavLinkMatch.All">
                        온라인 문의상담
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

    protected override async Task OnInitializedAsync()
    {
        JSRuntime.InvokeVoidAsync("pluginLoad");
    }

}