@page "/Supply"


<style>
    .single-home6-portofolio img {
        width: 75%;
        height: 112px;
    }
    .allCompany{
        padding: 0px 75px 0px 75px;
    }
    .facilities-more{
        margin-top: 0px;
        padding-top: 0px;
    }
    .single-home2-more-product .content {
        text-align :left;
    }

    .single-home2-more-product .content .name {
        margin-bottom: 10px;
    }

    .home6-portfolio-area {
        padding :  135px 0px 100px;
    }

    .single-home2-more-product .img{
        height: 200px;
    }

</style>
<section class="home2-hero-area">
    <div class="home2-hero-banner wow fadeInRight animated" data-wow-delay="00ms" data-wow-duration="1500ms"><img class="item-bounce" src="img/product-showcase/hero-banner.png"  style="width:1920px; height:800px;" alt=""></div>
    <div class="home2-hero-container">
        <div class="row">
            <div class="col-lg-12 col-md-7 col-12">
                <div class="home2-hero-content">
                    <h2 class="title">구축사례</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home6-portfolio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
                <div class="section-title">
                    <h2 class="title">주요 고객사</h2>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/aptech_nobackground.png"><img src="../img/company-logo/aptech_nobackground.png" /></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/hanssem333_3.png"><img src="../img/company-logo/hanssem333_3.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/kangrim.png"><img src="../img/company-logo/kangrim.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/khe_logo.png"><img src="../img/company-logo/khe_logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/vendorLogo.png"><img src="../img/company-logo/vendorLogo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/syswork-main.png"><img src="../img/company-logo/syswork-main.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/rotec.png"><img src="../img/company-logo/rotec.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/pemtron.png"><img src="../img/company-logo/pemtron.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="single-home6-portofolio">
                    <a class="test-popup-link" href="../img/company-logo/yujin.png"><img src="../img/company-logo/yujin.png" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home2-more-products-area">
    <div class="allCompany container" >
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                <div class="single-home2-more-product">
                    <div class="img"><img src="../img/company-logo/aptech_nobackground.png" alt=""></div>
                    <div class="content">
                        <h4 class="name">와이엠씨㈜</h4>
                        <p><b> 구축모듈</b> :</p>
                        <p style="padding-left : 30px;">
                            ① 프로젝트 관리(PMS)
                        </p>
                        <p style="padding-left : 30px;">② 문서, 도면 관리</p>
                        <p style="padding-left : 30px;">
                            ③ 3D 기반의 제품정보 관리
                        </p>
                        <p style="padding-left : 30px;">
                            (CAD 연계 매니저, 3D 뷰어 포함)
                        </p>
                        <p style="padding-left : 30px;"> ④ 전자 결재, 전자 배포 </p>

                    </div>
                </div>
                <div class="facilities-more">
                    <a href="/CompanyDetail" class="link home2-button-2">Load More +</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="100ms" data-wow-duration="1500ms">
                <div class="single-home2-more-product">
                    <div class="img"><img src="../img/company-logo/kangrim.png" alt=""></div>
                    <div class="content">
                        <h4 class="name">유진디스컴㈜</h4>
                        <p><b> 구축모듈</b> :</p>
                        <p style="padding-left : 30px;">
                            ① 프로젝트 관리(PMS)
                        </p>
                        <p style="padding-left : 30px;">② 문서, 도면 관리</p>
                        <p style="padding-left : 30px;">
                            ③ 3D 기반의 제품정보 관리
                        </p>
                        <p style="padding-left : 30px;">
                            (CAD 연계 매니저, 3D 뷰어 포함)
                        </p>
                        <p style="padding-left : 30px;"> ④ 전자 결재, 전자 배포 </p>

                    </div>
                </div>
                <div class="facilities-more">
                    <a href="/CompanyDetail" class="link home2-button-2">Load More +</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                <div class="single-home2-more-product" style="margin-bottom: 5px;">
                    <div class="img"><img src="../img/company-logo/khe_logo.png" alt=""></div>
                    <div class="content">
                        <h4 class="name">정우엔텍 주식회사</h4>
                        <p><b> 구축모듈</b> :</p>
                        <p style="padding-left : 30px;">
                            ① 프로젝트 관리(PMS) 및 문서, 도면 관리
                        </p>
                        <p style="padding-left : 30px;">
                            ② 3D 설계 데이터 관리
                        </p>
                        <p style="padding-left : 30px;">
                            (CAD 연계 매니저, 3D 뷰어 포함)
                        </p>
                        <p style="padding-left : 30px;">  ③ 전자 결재, 전자 배포 </p>
                        <p style="padding-left : 30px;">
                            ④ WaterWall 4.0
                        </p>
                        <p style="padding-left : 30px;">
                            (DLP 모듈)
                        </p>
                    </div>
                </div>
                <div class="facilities-more">
                    <a href="/CompanyDetail" class="link home2-button-2">Load More +</a>
                </div>
            </div>
        </div>
    </div>
</section>